<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container">
    <% if(err) { %>
    <div class="alert alert-danger">
      <strong>Error!</strong> <%= err %>
    </div>
		<% } %>
		
		
		<h3>Login</h3>
		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label class="col-sm-2 control-label">Username</label>
	      		<div class="col-sm-5">
	        		<input class="form-control" id="username" name="username" type="text" placeholder="Input Username">
	      		</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Password</label>
	      		<div class="col-sm-5">
	        		<input class="form-control" id="password" name="password" type="password" placeholder="Input Password">
	      		</div>
			</div>
			<input type="submit" class="btn btn-primary" value="Sign In" style="margin-left: 200px" />
		</form>
  </div>
  <%- include ../partials/footer.ejs %>
</body>
</html>