<%- include ../partials/header.ejs %>
<br>
<br>
<form method="POST">
  <label>username</label><br>
  <input type="text" name="username" placeholder="insert your username"><br>
  <br>
  <label>password</label><br>
  <input type="text" name="password" placeholder="insert your password"><br>
  <input type="submit" value="submit">
</form>


<%- include ../partials/footer.ejs %>