<%- include ../partials/header.ejs %>
  <form class="" action="" method="post">
    <input type="hidden" name="userId" value="<%= userId %>">
    <input type="text" name="newName" value="<%= name %>">
  </form>
<%- include ../partials/footer.ejs %>
